<%-include('../partials/header.ejs')%>
<link href="/popup.css" rel="stylesheet">
<link rel="stylesheet" href="/virtual-select.min.css">
<script defer src="/script/popup.js"></script>
    <%-include('../partials/nav.ejs')%>
    
    <!-- porducts -->
    <div class="grid wide">
        <div class="row">
            <section class="product">
               
                <button data-modal-target="#modal"> <a >Chỉnh sửa figure</a></button>
                <div class="modal" id="modal">
                  <div class="modal-header">
                    <div class="title">Chỉnh sửa</div>
                    <button data-close-button class="close-button">&times;</button>
                  </div>
                  <div class="modal-body">
                    <form action="/detail/<%=figure._id%>" method="POST" enctype="multipart/form-data" >
                        <div class="control-label col-md-2">Tên figure:</div>
                        <input type="text" name="name" value="<%=figure.name%>" required>
                        <div class="control-label col-md-2">Loại:</div>
                       <select name="category" id="">
                            <%data.categories.forEach(category=>{%>
                                <option value="<%=category._id%>"><%=category.name%></option>
                            <%})%>
                       </select>
                       <div class="control-label col-md-2">Xuất hiện trong:</div>
                       <select name="origin" id="">
                            <%data.origins.forEach(origin=>{%>
                                <option value="<%=origin._id%>"><%=origin.name%></option>
                            <%})%>
                       </select>
                       <div class="control-label col-md-2">Nhân vật:</div>
                       <select name="character" id="" multiple>
                            <%data.characters.forEach(character=>{%>
                                <option value="<%=character._id%>"><%=character.name%></option>
                            <%})%>
                       </select>
                       <div class="control-label col-md-2">Công ty:</div>
                       <select name="company" id="" multiple>
                            <%data.companies.forEach(companie=>{%>
                                <option value="<%=companie._id%>"><%=companie.name%></option>
                            <%})%>
                       </select>
                       <br>
                       <div class="control-label col-md-2">Người thiết kế:</div>
                       <select name="artists" id="" multiple>
                            <%data.artists.forEach(artist=>{%>
                                <option value="<%=artist._id%>"><%=artist.name%></option>
                            <%})%>
                       </select>
                       <div class="control-label col-md-2">Chất liệu:</div>
                       <select name="materials" id="" multiple>
                            <%data.materials.forEach(material=>{%>
                                <option value="<%=material._id%>"><%=material.name%></option>
                            <%})%>
                       </select>
                       <label for="release_date">Ngày sản xuất</label>
                       <input type="date" name="release_date" id="release_date" required>
                       <div class="control-label col-md-2">Hình ảnh:</div>
                        <input type="file" name = "img" multiple>
                        <div class="control-label col-md-2">Giá tiền:</div>
                        <input type="text" placeholder="price" name="price" value="<%=figure.price%>">
                        <input type="submit">
                    </form>
                  </div>
                </div>
                <div id="overlay"></div>

                                            

                <div class="product-content row">
                    <div class="product-content-left row">
                        <div class="product-content-left-big-img">
                            <img src="<%=figure.images[0]%>" alt="">
                        </div>
                        <div class="product-content-left-small-img">
                            <%figure.images.forEach(image=>{%>
                                <img src="<%=image%>" alt="">
                            <%})%>
                        </div>
                    </div>
                    <div class="product-content-right">
                        <div class="product-content-right-product-name">
                            <h1>
                                <%=figure.name%>
                            </h1>
                        </div>
                    
                        <div class="product-content-right-bottom">
                            <div class="product-content-right-bottom-top">
                                &#8744;
                            </div>

                            <div class="product-content-right-bottom-content-big">
                                
                                <div class="product-content-right-bottom-content">
                                    <div class="product-content-right-bottom-content-mota">
                                        Phân loại: 
                                        <a href="/category/<%=figure.category._id%>">
                                            <%=figure.category.name%> <br>
                                        </a>
                                        <br> Xuất hiện trong: 
                                        <a href="/origin/<%=figure.origin._id%>">
                                            <%=figure.origin.name%>
                                          </a>          
                                        <br> Nhân vật: <%figure.character.forEach(char=>{%>
                                            <a href="/character/<%=char.name%>"><%=char.name%></a>
                                            
                                        <%})%>  <br>  


                                        <!-- Dùng vòng lặp để tạo ra các công ty trong database -->
                                        <br> Công ty: <%figure.company.forEach(comp=>{%>
                                            <!-- tạo thẻ a với đường link vào chi tiết công ty theo Tên -->
                                            <a href="/company/<%=comp.name%>"><%=comp.name%></a>
                                        <%})%>  vai trò: sản xuất <br> 
                                    <br> Người thiết kế:  <%figure.artists.forEach(art=>{%>
                                          
                                            <a href="/artists/<%=art.name%>"><%=art.name%></a>
                                        <%})%>  điêu khắc <br>  
                                        <br> Kích thước: 23.5cm <br>
                                        <br> Tỉ lệ: 1/7 <br>
                                        <br> Chất liệu: <%figure.materials.forEach(material=>{%>
                                            <%=material.name%>
                                        <%})%> <br>
                                        <br> Ra mắt: <%=new Date(figure.release_date).toDateString()%> <br> <br>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
        <div class="pagination">
        </div>
        <%-include('../partials/footer.ejs')%>

        <script src="/script/virtual-select.min.js"></script>
        <script>
        VirtualSelect.init({ ele: 'select' ,
        setValueAsArray:true});
        </script>





    



