<%-include('../partials/header.ejs')%>
    <%-include('../partials/nav.ejs')%>
    <style>
        div{
            font-size: 1.4rem;
            display: inline;
        }
        select{
            
            margin: 0.8rem 0;
            width: 17.5rem;
            height: 3rem;
        }
        form{
            width: 955px;
        }
    </style>
    
    <form action="/editChar/<%=detail._id%>" method="POST" enctype="multipart/form-data" >
        <div class="control-label col-md-2">Tên nhân vật:</div>
        <input type="text" name="name" value="<%=detail.name%>" required>
        
        <div class="control-label col-md-2">Xuất hiện trong:</div>
       <select name="origin" id="">
            <%data.origins.forEach(origin=>{%>
                <option value="<%=origin._id%>"><%=origin.name%></option>
            <%})%>
       </select>
       <br>
       <div class="control-label col-md-2">Hình ảnh:</div>
        <input type="file" name = "img" multiple>
        <div class="control-label col-md-2">Tên gốc:</div>
        <input type="text" name="original" value="<%=detail.original%>">
        <input type="submit">
    </form>
    <%-include('../partials/footer.ejs')%>